.home {
  padding-top: 189px;
}
.home .main {
  width: 100%;
}
.home .main .banner {
  width: 100%;
  position: relative;
}
.home .main .banner img {
  width: 100%;
  display: block;
  object-fit: cover;
  max-height: 650px;
}
.home .main .banner p {
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 80px;
  font-family: "ExoSoft-Bold";
  text-transform: uppercase;
}
.home .main .section1 {
  max-width: 1368px;
  margin: 5vw auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1%;
}
.home .main .section1 .item {
  height: 416px;
  width: 24%;
  background-color: #ededed;
  transition: background 0.3s;
  display: block;
  color: #000000;
  margin-bottom: 40px;
  overflow: hidden;
}
.home .main .section1 .item .icon {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 600ms;
  margin: 0 auto;
}
.home .main .section1 .item .icon img {
  max-width: 100%;
  max-height: 250px;
  object-fit: contain;
  transition: all 600ms;
}
.home .main .section1 .item .pt {
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  width: 90%;
  margin: 0 auto;
  transition: all 600ms;
}
.home .main .section1 .item:hover {
  background-color: #E49D12;
}
.home .main .section2 {
  background: #E49D12;
  padding: 4vw 0;
}
.home .main .section2 .form {
  max-width: 1368px;
  margin: 0 auto;
  background: white;
  padding: 4vw 0;
}
.home .main .section2 .form .content {
  width: 80%;
  margin: 0 auto;
}
.home .main .section2 .form .content .t {
  font-size: 48px;
  font-family: "ExoSoft-Regular";
}
.home .main .section2 .form .content .it {
  margin-top: 20px;
}
.home .main .section2 .form .content .it input {
  width: 100%;
  border: 1px solid #EDEDED;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.13);
  height: 48px;
  text-indent: 20px;
  font-size: 18px;
  color: #757575;
}
.home .main .section2 .form .content .btns {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.home .main .section2 .form .content .btns .b1 {
  background: #E49D12;
  display: inline-block;
  padding: 16px 24px;
  color: #202020;
  cursor: pointer;
  transition: all 600ms;
}
.home .main .section2 .form .content .btns .b1:hover {
  background-color: #d6ab00;
  box-shadow: 0 20px 25px -12px rgba(236, 188, 0, 0.6), 0 10px 25px -12px rgba(0, 0, 0, 0.3);
}
.home .main .section2 .form .content .btns p {
  margin: 0 20px;
  color: #202020;
  font-size: 18px;
}
.home .main .section2 .form .content .btns .show {
  text-transform: uppercase;
  color: #E49D12;
  font-size: 18px;
  cursor: pointer;
}
.home .main .section3 {
  max-width: 1368px;
  margin: 5vw auto;
}
.home .main .section3 .content {
  width: 100%;
  position: relative;
}
.home .main .section3 .content .l {
  width: calc(55% - 68px);
  border: 4px solid #E49D12;
  background: #FFF;
  padding: 30px 30px 20px 30px;
}
.home .main .section3 .content .l .t {
  color: #202020;
  font-size: 28px;
  text-transform: uppercase;
  font-family: "ExoSoft-Regular";
  font-weight: 600;
}
.home .main .section3 .content .l .des {
  color: #202020;
  font-size: 18px;
  line-height: 1.6;
}
.home .main .section3 .content .l .des p {
  margin-top: 16px;
}
.home .main .section3 .content .r {
  width: 45%;
  position: absolute;
  right: 0;
  top: 0;
}
.home .main .section3 .content .r img {
  width: 100%;
  display: block;
  object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .home {
    padding-top: 60px;
  }
  .home .main .banner img {
    height: 420px;
  }
  .home .main .banner p {
    font-size: 36px;
  }
  .home .main .section1 {
    max-width: 95%;
  }
  .home .main .section1 .item {
    width: 100%;
    margin-bottom: 10px;
  }
  .home .main .section2 {
    padding: 30px 0;
  }
  .home .main .section2 .form {
    max-width: 95%;
    padding: 30px 0;
  }
  .home .main .section2 .form .content {
    width: 90%;
  }
  .home .main .section2 .form .content .t {
    font-size: 24px;
  }
  .home .main .section3 {
    max-width: 95%;
    margin: 40px auto;
  }
  .home .main .section3 .content .l {
    width: 90%;
    padding: 20px 5%;
  }
  .home .main .section3 .content .r {
    position: static;
    width: 100%;
  }
}

/*# sourceMappingURL=join.css.map */
